'<div class="large-12 medium-12 small-12 columns padding0 marg-elem padding0">'+
	'<div class="large-12 medium-12 small-12 columns">'+
		'<img src="">'+'
	'</div>'+
	'<div class="large-8 medium-8 small-12 columns">'+
		'<div class="large-12 medium-12 small-12 columns padding0">'+
			'<h3 class="tipografia black title-1"><i class="fa fa-angle-double-right"></i> <?php echo get_the_title(); ?></h3>'+
			'<h5 class="tipografia gray-light id1">id# </h5>'+
		'</div>'+
		'<div class="large-12 medium-12 small-12 columns padding0">'+
			'<label class="tipografia gray-light search-price"><span class="beige">Precio Venta:</span> $ MXN</label>'+
			'<label class="tipografia gray-light search-price"><span class="beige">Precio Renta:</span> $ MXN</label>'+
		'</div>'+
		'<div class="large-12 medium-12 small-12 columns padding0">'+
			'<div class="large-4 medium-4 small-12 columns padding0">'+
				'<label class="gray"><i class="fa fa-bed pad-rec gray-light"></i> <span class="beige"> Recamaras</span></label>'+
			'</div>'
			'<div class="large-4 medium-4 small-12 columns padding0">'+
				'<label class="gray"><i class="fa fa-shopping-basket pad-rec gray-light"></i> <span class="beige"> Baños</span></label>'+
			'</div>'
			'<div class="large-4 medium-4 small-12 columns padding0">'
				'<label class="gray"><i class="fa fa-sun-o pad-rec gray-light"></i> <span class="beige"></span></label>'+
			'</div>'+
		'</div>'+
		'<div class="large-12 medium-12 small-12 columns padding0 div-descrips-search">'+
			'<label class="tipografia gray-light info-prop2"><?php the_excerpt(); ?></label>'+
		'</div>'
		'<div class="large-12 medium-12 small-12 columns padding0 div-prog-search">'+
			'<a class="tipografia gray progm-visita">Programar Visita</a>'+
		'</div>'+
	'</div>'+
'</div>'
<div class="large-12 medium-12 small-12 columns backg-modal" style="background: url('')no-repeat;"></div>