<span style='color: #000'>181 frames</span>	<span style='color: #900'>36,864 KB</span>	<span style='color: #090'>2,095.20 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />